<?xml version="1.0" encoding="UTF-8"?>
<!-- https://stackoverflow.com/questions/29429073/spring-boot-logback-and-logging-config-property -->
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %p %t %c{0}.%M - %m%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>